<div class="container bg-light border rounded my-5 py-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 [translate]="'reset-password.title'"></h1>
      <form #passwordReset="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="resetPassword" [translate]="'reset-password.label'"></label>
          <input type="password" name="resetPassword" id="resetPassword" #resetPassword="ngModel" class="form-control" ngModel minlength="6"
            [appEqualStrings]="confirmPassword" required [appFeedbackError]="error" [isReverseField]="true" appIsInvalid autofocus>
          <div *ngIf="feedback">
            <span>{{ feedback }}</span>
          </div>
          <div *ngIf="resetPassword.errors" class="invalid-feedback">
            <span *ngIf="resetPassword.errors['required']" [translate]="'reset-password.required'"></span>
            <span *ngIf="resetPassword.errors['minlength']" [translate]="'reset-password.minLength'"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword" [translate]="'reset-password.confirmLabel'"></label>
          <input type="password" name="confirmPassword" id="confirmPassword" #confirmPassword="ngModel" class="form-control" ngModel
            [appEqualStrings]="resetPassword" required [appFeedbackError]="error" appIsInvalid>
          <div *ngIf="feedback">
            <span>{{ feedback }}</span>
          </div>
          <div *ngIf="confirmPassword.errors" class="invalid-feedback">
            <span *ngIf="confirmPassword.errors['required']" [translate]="'reset-password.confirmRequired'"></span>
            <span *ngIf="confirmPassword.errors['strNotEqual']" [translate]="'reset-password.confirmNotEqual'"></span>
            <span *ngIf="error">{{ error.message }}</span>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-block btn-success" type="submit" [translate]="'reset-password.button'"></button>
        </div>
      </form>
    </div>
  </div>
</div>
